.container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url("../assets/images/gameOfThrones.jpg");
    background-size: 700px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 330px;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    background-color: darkgrey;
    opacity: 0.7;
}

.title {
    font-weight: bold;
}

.input {
    outline: none;
    border-color: black;
    width: 300px;
    height: 35px;
}

.buttons {
    border-radius: 5px;
    outline: none;
    margin-top: 7px;
    width: 305px;
    height: 30px;
    font-weight: bold;
    font-family: 'Arial Narrow Bold';
}

.link {
    text-decoration: none;
    color: black;
}