.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    height: 50px;
}

.list {
    font-size: large;
}